<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>check</title>
    <link rel="stylesheet" href="check.css">
</head>
<body>
    <form action="" method="post"  class="check-form">
       
        <div>
            
            <h1>Check</h1>
            <label for="dateInput">Date:</label>
          <input type="date" name="date" id="dateInput" required> <br>
          <label for="name">Username:</label> 
          <input type="text" name="email" id="name"  placeholder="Username" required> <br>
          <label for="number">password:</label>
          <input type="password" name="password" id="number"  placeholder="password" required>
          <button type="submit" class="submit-btn">Check</button>
          <button type="reset" class="add-btn">Reset</button>
        </div>
       
    </form>
</body>
</html>