<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="signin.css">
</head>
<body>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <div class="login">
          <h2>Sign in  </h2>
          <input type="file" name="image" id="image">
          <input name="username" placeholder="Username" type="text">
          <input id="pw" name="password" placeholder="Password" type="password">
          <input name="email" placeholder="E-Mail Address" type="text">
          <div class="agree">
            <input id="agree" name="agree" type="checkbox">
            <label for="agree"></label><span>Accept rules and conditions</span>
          </div>
          <input type="submit" class="animated" value="Register">
          <a class="forgot" href="#">Already have an account?</a>
        </form>
</body>
</html>